.password-manager{
    background-color: #1b1b1b;
    color: white;
}

.password-manager .content{
    font-size: small;
}

.password-manager .title{
    color: white;
}

.password-manager .form-switch {
    padding-left: 1em;
}

.password-manager .form-switch .form-check-input {
    width: 2.5em;
    height: 1.50em;
}

.password-manager .form-switch .form-check-input:checked {
    background-color: #11a80a;
    border-color: #11a80a;
}

.password-manager label{
    color: gray;
}

.password-manager .list-group{
    --bs-list-group-bg:: #252525;
    --bs-list-group-border-color: #3c3d3c;
    --bs-list-group-color: white;
    --bs-list-group-item-padding-x: unset;
}

.password-manager .list-group-item{
    border:none;
}

.password-manager .passwords{
    height: calc(100vh - 250px) !important;
    overflow-y: auto;
    transition: all 0.5s ease;
}

.passwords::-webkit-scrollbar {
    width: 10px;
}

.passwords::-webkit-scrollbar-track {
    background: #1b1b1b;
}

.passwords.short{
    height: calc(100vh - 630px) !important;
}

.password-manager .password{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #3c3d3c;
}

.password-manager .password-icon{
    width: 20%;
}

.password-manager .password-info{
    width: 75%;
}

.password-manager .password-info .password-title{
    font-size: medium;
}

.password-manager .password-info .password-username{
    font-size: small;
}

.password-manager .password-info .password-password{
    font-size: small;
}

.password-manager .add-button{
    position: absolute;
    top: -10px;
    right: 30px;
    background-color: transparent;
    outline: none;
    font-size: small;
    color: lightblue;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.add-button:hover{
    color: white;
    background-color: #3c3d3c;
}

.new-password-form{
    position: absolute;
    bottom: -415px;
    transition: all 0.5s ease;
    width: 90%;
}

.new-password-form.show{
    bottom: 0px;
}

.new-password-form .body {
    padding: 30px;
}

.password-action-icon{
    color: lightblue;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

.password-action-icon:hover{
    color: white;
    background-color: #3c3d3c;
}

.password-manager .import-button{
    position: absolute;
    bottom: 10px;
    left: 10px;
    
}

.offcanvas.password-manager{
    width: 500px;
}