.widgett{
    border-radius: 15px;
    background-color: #37415166;

    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
}

.widget-frame{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.widget-webview{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    
}